name: Check for version bumps in PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  check_changes_and_versions:
    name: Check for changes and version bumps
    runs-on: ubuntu-latest
    outputs:
      matrix: ${{ steps.set-matrix.outputs.MATRIX }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: '0'

      - name: Verify changes and versions
        run: |
          GIT_DIFF_BASE='${{ github.event.pull_request.base.sha }}'
          GIT_DIFF_HEAD='${{ github.event.pull_request.head.sha }}'
          ./scripts/ci_version_changed_check.sh "$GIT_DIFF_BASE" "$GIT_DIFF_HEAD"